.category-container {
  width: 35rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: 10px 12px 12px rgba(117, 82, 82, 0.336);
}
.category-info {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
