.cart-item {
  flex: 1;
  padding: 2rem;
  width: 20rem;
  margin: 1rem auto;
  background-color: #fff;
  box-shadow: 10px 5px 12px black;
}
.cart-item-info {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  justify-content: center;
  text-align: center;
}
